@model IEnumerable<Financiamento>
@{
    ViewBag.Title = "Financiamentos";
}

@section styles
{
    <link rel="stylesheet" href="~/plugin/datatables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css">
}

@section modal
{
    <div class="modal fade" id="modal-visualizar-parcelas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
}

@section scripts
{
    <script src="~/plugin/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/plugin/datatables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/plugin/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugin/datatables/extensions/Responsive/js/responsive.bootstrap.min.js"></script>
    <script src="~/scripts/datatables.demo.js"></script>

    <script>
        $(function () {

            "use strict";

            window.ParcelasDoFinanciamento = window.ParcelasDoFinanciamento || {};           

            ParcelasDoFinanciamento.carregar = function (id) {
                $.ajax({
                    method: "GET",
                    url: "/Financiamento/ParcelasDoFinanciamento",
                    data: { financiamentoId: id },
                    success: function (result) {
                        $("#modal-visualizar-parcelas").html(result);
                        $("#modal-visualizar-parcelas").modal("show");    
                        GlobalMask.carregarMascaras();                        
                    },
                    error: function error(XMLHttpRequest, textStatus, errorThrown) {
                        swal("Mensagem", errorThrown, "error");
                    }
                });
            };

            ParcelasDoFinanciamento.quitar = function (id, inputValor) {               
                let valor = $(inputValor).val();   
                valor = valor.replace(".", "");
                valor = valor.replace(",", ".");
                $.ajax({
                    method: "GET",
                    url: "/Financiamento/QuitarParcela",
                    data: { parcelaId: id, valorPago: valor },
                    success: function (result) {
                        if (result.error) {
                            swal("Mensagem", result.msg, "error");
                        }
                        else {
                            ParcelasDoFinanciamento.carregar(result.financiamentoId);
                        }
                    },
                    error: function error(XMLHttpRequest, textStatus, errorThrown) {
                        swal("Mensagem", errorThrown, "error");
                    }
                });
            };
        });          
    </script>
}

<div class="col-xs-12">
    <div class="box-content">
        <h4 class="box-title">@ViewBag.Title</h4>
        <div class="dropdown js__drop_down">
            <a href="@Url.Action("Novo")" class="btn btn-primary btn-circle btn-sm waves-effect waves-light"><i class="ico fa fa-plus"></i></a>
        </div>
        @await Html.PartialAsync("_Tabela")
    </div>
</div>