@model IEnumerable<Notificacao>

<div id="notification-popup" class="notice-popup js__toggle" data-space="75">
    <h2 class="popup-title">Notificações</h2>
    <div class="content">
        <ul class="notice-list">
            @if (Model != null && Model.Any())
            {

                @foreach (var notificacao in Model)
                {
                    <li>
                        <a href="#" onclick="Notificacao.exibir(@notificacao.Id)">
                            <span class="avatar bg-@notificacao.Icone"><i class="fa fa-@notificacao.Icone"></i></span>
                            <span class="name">Notificação</span>
                            <span class="desc">@notificacao.Descricao</span>
                            <span class="time">@notificacao.DataDeExibicao.ToShortDateString()</span>
                        </a>
                    </li>
                }
            }
            else
            {
                <li>
                   <h4 class="text-center">Sem notificações para ler</h4>
                </li>
            }
        </ul>
        <a href="@Url.Action("Index", "Notificacao")" class="notice-read-more">Ver todas as notificações lidas <i class="fa fa-angle-down"></i></a>
    </div>
</div>