@{
    ViewBag.Title = "Quadro";
}

<div class="col-xs-12">
    <div class="box-content">
        <div class="col-md-3">
            <div id="external-events">
                <p>Classificação das cores das tarefas</p>
                <div style="cursor: default; margin: 5px 7px 5px 0px" class="fc-event bg-success ">Aluguel em dia</div>
                <div style="cursor: default; margin: 5px 7px 5px 0px" class="fc-event bg-warning">Aluguel atrasado</div>           
            </div>
        </div>
        <div class="col-md-9">
            <div class="box-content">
                <div id="calendar" data-url="@Url.Action("LocacoesQuadroGeral", "Quadro")"></div>
            </div>
        </div>
    </div>
</div>

@section styles
{
    <!-- FullCalendar -->
    <link rel="stylesheet" href="~/plugin/fullcalendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/plugin/fullcalendar/fullcalendar.print.css" media='print'>

    <!-- Datepicker -->
    <link rel="stylesheet" href="~/plugin/datepicker/css/bootstrap-datepicker.min.css">
}

@section scripts
{
    <!-- Jquery UI -->
    <script src="~/plugin/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/plugin/jquery-ui/jquery.ui.touch-punch.min.js"></script>

    <!-- FullCalendar -->
    <script src="~/plugin/moment/moment.js"></script>
    <script src="~/plugin/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/plugin/fullcalendar/locale/pt-br.js"></script>

    <!-- Datepicker -->
    <script src="~/plugin/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/plugin/datepicker/locales/bootstrap-datepicker.pt-BR.min.js"></script>

    <script src="~/scripts/quadro.js"></script>

    <script src="~/scripts/caso.js"></script>

    <script>

        $(function () {

            "use strict";

            window.QuadroGeral = window.QuadroGeral || {};
            window.Quadro = window.Quadro || {};
            window.Caso = window.Caso || {};

            Quadro.carregarCalendario();
        });
    </script>
}