@model Veiculo
@{
    ViewBag.Title = "Editar Veículo";
}

<div class="row small-spacing">
    <div class="col-lg-12 col-xs-12">
        <div class="box-content card white">
            <h4 class="box-title">@ViewBag.Title</h4>
            <div class="card-content">
                @using (Html.BeginForm("Editar", "Veiculo", FormMethod.Post, new { @class = "form" }))
                {
                    @Html.HiddenFor(m => m.Id)
                    @await Html.PartialAsync("_Form")
                }
            </div>
        </div>
    </div>
</div>

@section modal
{
    @await Html.PartialAsync("_AnexarFoto", new FotoDeGaragem { VeiculoId = Model.Id })
}