<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sistema de autenticação</title>
    <link rel="stylesheet" href="~/styles/style.css?v=1">
    <link rel="stylesheet" href="~/plugin/waves/waves.min.css?v=1">
    <link rel="stylesheet" href="~/plugin/sweet-alert/sweetalert.css?v=1">
</head>

<body>
    <div id="single-wrapper">
        @RenderBody()
    </div>
    <script src="~/scripts/jquery.min.js?v=1"></script>
    <script src="~/scripts/modernizr.min.js?v=1"></script>
    <script src="~/plugin/bootstrap/js/bootstrap.min.js?v=1"></script>
    <script src="~/plugin/nprogress/nprogress.js?v=1"></script>
    <script src="~/plugin/waves/waves.min.js?v=1"></script>
    <script src="~/scripts/main.min.js?v=1"></script>
    <script src="~/plugin/sweet-alert/sweetalert.min.js?v=1"></script>
    <script src="~/plugin/jquery-mask/jquery.mask.js?v=1"></script>
    <script src="~/scripts/globalmask.js?v=1"></script>  

    <script>
        let searchParams = new URLSearchParams(window.location.search);

        if (searchParams.has('falha')) {
            let param = searchParams.get('msg');
            swal("Mensagem", param, "warning");
        }
    </script>
</body>
</html>